/* signUp.css */

/* Container styles */
.sign-up-container , .login-container{
    /* Set the desired width and center the container on the page */
    display: flex;
    flex-direction: row;
    margin: 60px;
    width: 1100px;
    height: auto;
    margin: 60px auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.left-column{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #8A9B6E;
    width: 50%;
    padding: 40px 80px 100px 80px;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}
  .inscription-header, .login-header {
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
  
  }
  
  .inscription-text {
    color: #ffffff;
    opacity: 90%;
    margin-bottom: 20px;
    width: 400px;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
}
.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
    /* max-width: 400px; */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 40px 80px 100px 80px;
    border-radius: 0px 5px 5px 0px;
    background-color: white;
    position: relative;
    
  }
  /* Title styles */

  .title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }
  .title-v1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
  }
  
  /* Button styles */
  .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }
  .a-compte{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color:#4b6326;
  }
  
  .btn-1,
  .btn-2 {
    font-size: 20px;
    padding: 10px 5px;
    width: 55%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid #8A9B6E;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #8A9B6E;
    color: #ffffff;
  }
  /* Additional styles as needed */
  /* Add these styles to signUp.css */

/* Additional fields styles */
.dropdowns-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  position: relative;

}
select{
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  color: #3e3f3d;
  position: relative;
  background-color: #ffffff;
  border: 0.5px solid #47474777;
}
select option {

}


  
.back-link {
  position: absolute;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #4b6326;
  cursor: pointer;
  bottom: 20px;
  left: 20px;
  
}
.a-compte-appr{
  color: #4b6326;
  margin-top: 30px;
}
.a-compte-ens{
  color: #4b6326;
  margin-top: 30px;
  text-align: center;
}

/* Hide the bottom elements when additional fields are shown */
.additional-fields .btn-2,
.additional-fields .a-compte {
  display: none;
}

.birthday-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.birthday-text{
  font-size: 16px;
  font-weight: 500;
  margin-top: -20px;
}
.sign-up-options{

  display: flex;
  flex-direction: column;
  
}
.sign-up-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  ;
  
}
.btn-sign-up{
 border-radius: 5px;
 background-color: white;
 display: flex;
 align-items: center;
 width: 100%;
 padding: 10px;
 font-size: 15px;
 color: #3e3f3d;
 font-weight: bold;
 cursor: pointer;
 border: 1px solid #404140
}
.btn-sign-up:hover{
  background-color: #8a9b6e79;
}
.logo_img{
  width: 22px;
  height: 22px;
  margin-right: 85px;
}
span{

}