.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
input{
    padding: 10px;
    border-radius: 0px;
    border: 2px solid #638654;
    border-top: none;
    border-left: none;
    border-right: none;
}
.span{
    color: #516e45;
    font-size: 15px;
    text-decoration: none;
    text-align: left;
}
.btn-login{
    padding: 12px;
    background-color: #638654;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #516e45;
}
.right-column{
    gap:20px;
    
}
.img-turtle{
    width: 400px;
    align-self: start;
}
.creer-compte{
    color: #58744d;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
}
.login-text{
    color: #fff;
    opacity: 90%;
    text-align: left;
    width: 400px;
    margin-bottom: 50px;
}