h1, h2, h3, p { margin-bottom: 6pt; margin-top: 6pt; }
body, p, h1, h2, h3 { font-family: sans-serif; }
dt, dd { font-size: 8pt; }
code { font-family: monospace; }

/* Language Reference */

#guide {
    position: absolute;
    right:10px;
    top: 10px;
    width: 400px;

    padding: 5pt;
    padding-top: 0px;

    z-index: 10;

    color: black;
    background-color: white;
    border: solid 1px black;
}

#guide_body { width: 400px; height: 450px; border: none; }
#guide #toggle_link { display: block; float: right; margin-top: 8pt; }

/* Graphical and Textual Display */

#display {
    width: 760px;
    height: 480px;
    position: relative;
}

#sandbox {
    position: absolute;
    border: solid 1px black;
    z-index: 0;
}

#sandbox span {
    color: red; background-color: yellow; font-weight: bold;
}

#turtle {
    position: absolute; border: solid 1px black; z-index: 1;
}

#overlay {
    width: 740px;
    height: 460px;
    padding: 10px;
    margin: 0;
    position: absolute;
    z-index: 2;
    background-color: transparent;
    overflow: hidden;
    white-space: pre-wrap;
    font-family: Monospace;
}

/* User Input */

#input {
    width: 760px; padding: 0; padding-top: 5px;
}

#entry_single {
    width: 660px; font-family: monospace;
}

#entry_multi {
    width: 660px; height: 200px; font-family: monospace;
}
span.cm-logo-error {
    background-image: url('data:image/gif;base64,R0lGODlhBAAOAJEAAAAAAP////8AAP///yH5BAEAAAMALAAAAAAEAA4AAAIJnI+pyyg+XkwFADs=');
    background-repeat: repeat-x;
    background-position: left bottom;
  
    background-color: #ffff00;
    border-radius: 2px;
  }
  
  span.cm-logo-string {
    color: #007f00;
  }
  
  span.cm-logo-number {
    color: #0000ff;
  }
  
  span.cm-logo-operator {
    color: #7f007f;
    font-weight: bold;
  }
  
  span.cm-logo-variable {
    color: #007f7f;
    font-style: italic;
  }
  
  span.cm-logo-keyword {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }
  span.cm-logo-word {
    color: black;
  }
  
  span.cm-logo-comment {
    color: #cc00ff;
    font-style: italic;
  }
  
  span.cm-logo-defn-start {
    color: #3f0000;
    font-weight: bold;
    text-transform: uppercase;
  
    background-color: #c0ffc0;
    border-radius: 2px;
  }
  
  span.cm-logo-defn-end {
    color: #3f0000;
    font-weight: bold;
    text-transform: uppercase;
  
    background-color: #ffc0c0;
    border-radius: 2px;
  }
  
  span.cm-logo-defn-name {
    color: #3f0000;
    font-weight: bold;
    font-size: 12pt;
    text-decoration: underline;
  }
  
  span.cm-logo-defn-arg {
    color: #007f7f;
    font-weight: bold;
    font-size: 12pt;
    text-decoration: underline;
    font-style: italic;
  }
  
  