.NomApprenant{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #8daa5f;
    flex: 0 0 6%;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.Nom{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  

}
.Nom_logo{
    margin-left: 20px;
}
.txtNom{
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
    
}
.Badg{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px; 
}
.badge-icon{
    margin-left: 10px;
    margin-right: 10px;
}