.VerticalMenu {
    width: 260px;
    background-color: #E6F9DB;
    margin-top: 0;
    flex: 0 0 auto;
    
  }
  
  .VerticalMenu ul {
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
  }
  .VerticalMenu ul p {
    color: #828080;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  
  .VerticalMenu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .VerticalMenu li a:hover {
    background-color: #ddd;
  }
  .VerticalMenu li a:active {
    background-color: #ddd;
  }