.ProfilApprenant{
    display: flex;
    flex-direction: column;
    height: 1200px;
  }
.body{
    display: flex;
    flex: 0 0 83%;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
}
.Profil{
    flex: 0 0 80%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
.vertical-div{
    flex:1;
    margin-bottom: 40px;
    margin-left: 90px;
    margin-right: 90px;
    background-color: #f2f2f2;
    border-radius: 8px; 
    padding: 0;
}
.vertical-div p{
    
    margin-left: 20px;
    font-size: 25px;
    padding: 0;

}
.badge-icon{
    margin-left: 40px;
}
.container-button{
    display: flex;
    flex-direction: column;
    height: 130px;
    
}
.projet-button{
    flex:1;
    width: 250px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    background-color: #8daa5f;
    border: none;
    border-radius: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.statistiques{
    display: flex;
    flex-direction: column;
    height: 100px;
}
.stati{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 400px;
    
}
.stati p{
    flex: 2;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.pStati{
    color: blue;
}